@import "tailwindcss";

@theme {
  --color-crescendo-black: #010101;
  --color-crescendo-white: #e4e4e4;
  --color-crescendo-purple: #5f43b2;
  --color-crescendo-dark-blue: #030821;
}

.page {
  @apply flex flex-col bg-crescendo-black text-crescendo-white pt-16;
}

.section {
  @apply flex flex-col px-8 md:px-16 lg:px-32 py-8 md:py-12 lg:py-16;
}

@keyframes slideshow {
  0% {
    background-image: url("/images/slide1.png");
  }
  33% {
    background-image: url("/images/slide1.png");
  }
  33.33% {
    background-image: url("/images/slide2.png");
  }
  66% {
    background-image: url("/images/slide2.png");
  }
  66.66% {
    background-image: url("/images/slide3.jpg");
  }
  100% {
    background-image: url("/images/slide3.jpg");
  }
}

.bg-slideshow {
  background-size: cover;
  background-position: center;
  animation: slideshow 9s infinite;
}

.bg-slideshow::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(1, 1, 1, 1), rgba(0, 0, 0, 0.2));
}
