@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
  @apply px-8 md:px-16 lg:px-32 py-12 md:py-16 lg:py-24;
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.game-card {
  width: auto;
  height: auto;
}

.game-card[data-isExpanded="true"] {
  position: fixed;
  top: 4%;
  left: 4%;
  width: 92%;
  height: 92%;
  z-index: 1000;
}

::-webkit-scrollbar {
  height: 12px;
  width: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
